.onboraing-form{
  
  .head{
    width: 207px;
    height: 38px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #000000; 
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .sub{
    width: 239px;
    height: 22px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.1px;
    color: #645B75;  
    flex: none;
    order: 1;
    flex-grow: 0;
  }
   .account-creation{
    position: absolute;
    width: 170px;
    height: 22px;
    left: 129px;
    top: calc(50% - 22px/2 + 288px);
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
   }
   .individual-form{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 20px;
    gap: 16px;
    width: 380px;
    height: 203px;
    background: #F6FBFB;
    border: 1px solid #D9EFEE;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
     .link-transfer{
       text-decoration: none;
        .gutter-row{
           position: relative;

             .side-arrow{
              position: absolute;
              left: 37.12%;
              right: 33.3%;
              top: 17%;
              bottom: 17%;
              border: 1.5px solid #000000;
             }
            .title-form{
              width: 190px;
              height: 25px;
              font-family: 'Public Sans';
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 140%;
              color: #000000;
              flex: none;
              order: 0;
              flex-grow: 0;
            }
            .individual-head{
              width: 300px;
              height: 66px;
              font-family: 'Public Sans';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 160%;
              letter-spacing: 0.1px;
              color: #000000;
              flex: none;
              order: 1;
              align-self: stretch;
              flex-grow: 0;
            }
        }
     }
   }
   .showal-form{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 20px;
    gap: 16px;
    width: 380px;
    height: 203px;
    background: #F6FBFB;
    border: 1px solid #D9EFEE;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 20px;
     .link-transfer{
       .gutter-row{

          .vendor-sub{
            width: 113px;
            height: 25px;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #000000;
            flex: none;
            order: 0;
            flex-grow: 0;
          }
          .vendor-head{
            width: 300px;
            height: 66px;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.1px;
            color: #000000;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
          }
          .arrow-line{
            position: absolute;
            left: 37.12%;
            right: 33.3%;
            top: 17%;
            bottom: 17%; 
            border: 1.5px solid #000000;
          }

       }
       
     }

   }
}

.forget-password{
    .password-forgeting{
      width: 179px;
      height: 28px;
      
      /* Heading/Heading 3 */
      
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 125%;
      letter-spacing: 0.2px;
      color: #000000;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    .password-sub{
      width: 380px;
      height: 44px;
      
      /* Paragraph/02/regular */
      
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 0.1px;
      color: #645B75;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }
    .form-class{
       .gutter-row{
         .label-class{
          position: absolute;
          left: 0%;
          right: -164.52%;
          top: -6.25%;
          bottom: -12.5%;
          
          /* Paragraph/01/regular */
          
          font-family: 'Public Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 160%;
          /* or 19px */
          
          display: flex;
          align-items: center;
          letter-spacing: 0.1px;
          
          /* Shades/Black */
          
          color: #000000;
         }
         .inputclassname{
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 20px 16px;
          gap: 4px;
          
          width: 380px;
          height: 56px;
          
          /* Shades/White */
          
          background: #FFFFFF;
          border: 1px solid #DAD7E0;
          border-radius: 12px;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;

          ::placeholder{
            position: absolute;
            left: 0%;
            right: 67.82%;
            top: -6.25%;
            bottom: -12.5%;
            
            /* Paragraph/01/regular */
            
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 160%;
            /* or 19px */
            
            display: flex;
            align-items: center;
            letter-spacing: 0.1px;
            
            /* Shades/Black */
            
            color: #000000;
          }
         }
       }
      
    }
    .send-code{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 21px 75px;
      gap: 8px;
      color: #FFFFFF;
      width: 380px;
      height: 64px;
      background: #3A0CA3;
      border-radius: 32px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
      margin: 20px;
    }
    
}

.container{
   .head{
    width: 169px;
    height: 28px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: 0.2px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
   }
   .confirm-password{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 75px;
    gap: 8px;
    
    width: 380px;
    height: 64px;
    
    /* Primary/500 */
    
    background: #3A0CA3;
    border-radius: 32px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    color: white;
   }
   .form-input{
     .input-row{
         .label-class{
          position: absolute;
          left: 0%;
          right: -164.52%;
          top: -6.25%;
          bottom: -12.5%;
          
          /* Paragraph/01/regular */
          
          font-family: 'Public Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 160%;
          /* or 19px */
          
          display: flex;
          align-items: center;
          letter-spacing: 0.1px;
          
          /* Shades/Black */
          
          color: #000000;
         }
         
         .inputclassname{
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 18px 16px;
          gap: 4px;
          
          width: 380px;
          height: 56px;
          
          /* Shades/White */
          
          background: #FFFFFF;
          /* Neutral/200 */
          
          border: 1px solid #DAD7E0;
          border-radius: 12px;
          
          /* Inside auto layout */
          
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;

          ::placeholder{
            position: absolute;
            left: 0%;
            right: 60.8%;
            top: 31.25%;
            bottom: 31.25%;
            
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 4px;
            line-height: 160%;
            /* or 6px */
            
            display: flex;
            align-items: center;
            letter-spacing: 4.1px;
            
            /* Shades/Black */
            
            color: #000000;
            
            border: 2px solid #000000;
          }
         }
       
     }

     .input-row2{
        .inputclass{
          box-sizing: border-box;

          /* Auto layout */
          
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 18px 16px;
          gap: 4px;
          
          width: 380px;
          height: 56px;
          
          /* Shades/White */
          
          background: #FFFFFF;
          /* Neutral/200 */
          
          border: 1px solid #DAD7E0;
          border-radius: 12px;
          
          /* Inside auto layout */
          
          flex: none;
          order: 1;
          align-self: stretch;
           ::placeholder{
            position: absolute;
            left: 0%;
            right: 60.8%;
            top: 31.25%;
            bottom: 31.25%;
            
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 4px;
            line-height: 160%;
            /* or 6px */
            
            display: flex;
            align-items: center;
            letter-spacing: 4.1px;
            
            /* Shades/Black */
            
            color: #000000;
            
            border: 2px solid #000000;
           }
        }
     }
   }
}


