

.onboraing-form{
    margin-bottom: 20px;
    margin: 10x;
    padding: 10px;
    //color: #C3BFCD;

    .showal-form{
        border: 1px solid #9BB5CE;
        border-radius: 43.8px;
        color: #C3BFCD;
        background-color: #C3BFCD;
        margin-bottom: 20px;
        margin: 30px;
        text-align: center;
        //display: flex;
        .link-transfer{
            text-decoration: none;
        }
        .gutter-row{
            //justify-content: center;
            text-align: center;
            align-items: center;
           .title-form{
              //justify-content: center;
             text-align: center;
             align-items: center;
           }
            p{
                text-align: center;
                align-items: center;
                color: black;
            }
        }
    }
}



.registration-vendon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: "10px";
    padding: "10px";
    top: 0;
    flex-direction: column;
    
    .inpup-form{
        //position: relative;
        // display: flex;
        // flex-direction: column;
        // position: absolute;
        //display: flex;
       // justify-content: space-between;
    .gutter-link-row{
       .col-row-size{

        .inutclassname{
            display: flex;
            flex-direction: column;
        }
       }

       
    }

    }
}