.mymodal {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border: 0px solid transparent;
    background:transparent;
    overflow: auto;
    outline: none;
    width: 92%;
    height: auto;
    max-width: 24rem;
}

/* @media (max-width: 1023px) {
    .mymodal {
        width: 85% !important;
    }
} */

.modal-min-w {
    min-width: 100%;
}
    
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(15px);
    z-index: 10000;
}
    
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
    
.ReactModal__Overlay--after-open {
    opacity: 1;
}
    
.ReactModal__Overlay--before-close {
    opacity: 0;
}

.model-item-cont {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    padding: 0 !important;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 8px;
}

.modal-children-container {
    width: 80%;
}

.modal-close-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    background-color: #091515;
    transition: all .4s ease-in-out;
    cursor: pointer;
}